@mixin mobile {
    @media (max-width: #{$mobile-breakpoint}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: #{$mobile-breakpoint + 1px}) and (max-width: #{$tablet-breakpoint}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$tablet-breakpoint + 1px}) {
      @content;
    }
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $md;
  }