// Colors
$secondary-color: #666;
$white: #fff;
$text-green:#887C68;
$box-shadow: #00000040;
$title: 'Martel Sans';



// Breakpoints
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;

// Spacing
$sm: 8px;
$md: 16px;
$l: 20px;
$lg: 24px;
$xl: 32px;